*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}

.container{
    background-color: black;
    width: 100%;
    padding: 80px;
}


header{
    height: 90px;
    background-color: black;
    position: relative;
}
main{
    height: calc( 100vh - 180px );
    overflow-y: auto;
    background-color: black;
}
footer{
    background-color: gray;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
img{
    height: calc(100vh / 5);
    padding-right: 5px;
    padding-bottom: 10px;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    list-style: none;
}
span{
    color: white;
}
.header-position{
    position: absolute;
    top: 0;
    right: 45px;
    background-color: grey;
    border-radius: 3px;
    padding: 3px;
}
.header-position1{
    position: absolute;
    top: 0;
    right: 7px;
    background-color: grey;
    border-radius: 3px;
    padding: 3px;
}
.img-position{
    position: relative;
}
.main-position{
    position: absolute;
    bottom: 14px;
    left: 0px;
    background-color: grey;
    border-radius: 3px;
}
.container-footer{
    height: 90px;
}
.carater{
    font-size: xx-large;
}