*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}

.container{
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100%;
    padding: 80px;
}


.d-flex{
    display: flex;
    flex-wrap: wrap;
}
img{
    height: calc(100vh / 5);
    padding-right: 5px;
    padding-bottom: 10px;
}

footer{
    background-color: gray;
    height: 90px;
    display: flex;
}